
<div style="width: 100vw; height: 40px; display: flex; padding-bottom: 50px;">
  <div style="width: 50%;  margin: 20px;">
    <h1>Brayan Andrade Hernandez</h1>
  </div>
  <div style=" width:50%; text-align: end;  margin: 20px; margin-right: 50px;">
      <h1>10-A</h1>      
  </div>
</div>
<div>
  <div >
    <div style="text-align: center;">
      <h1>Lista de tareas</h1>
    </div>

    <div style="margin: 40px; max-width: 100%; text-align: center;">
      <input type="text" style="width: 100%; height: 30px; border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
      " [(ngModel)]="nuevaTarea" >
      <div>
        <button 
        style="
          border-style: none;
          padding: 10px;
          margin: 10px;
          background-color: rgba(0, 255, 21, 0.904);
          color: aliceblue;    
          font-size: 20px;
          border-radius: 20px;
        "     
        (click)="agregarTarea()"
        ><b>Agregar</b></button>
      </div>
    </div>
  </div>
  <div style="margin: 40px;">
    <ul>
      <li *ngFor="let tarea of tareas" style="display: flex; background-color: rgb(7, 48, 83); margin:10px; padding: 10px; border-radius: 20px;">
        <div style="width: 50%; color: aliceblue;">
          {{ tarea }}
        </div>
        <div style="text-align: end; width: 50%;">
          <button (click)="eliminarTarea(tarea)" style="
            border-style: none;
            background-color: rgb(216, 46, 46);
            padding: 10px;
            border-radius: 20px;
            color: aliceblue;
          ">eliminar</button>
        </div>
      </li>
    </ul>
  </div>
</div>